<header>
  <nav>
    <img src="{{root}}/assets/img/logo.png" alt="Maximus Apparel">
    <ul>
      <li><a href="#">What we do</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Work</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
    
  <div class="marketing-site-hero">
    <div class="marketing-site-hero-content grid-container">
      <div class="grid-x grid-padding-x align-right">
        <div class="large-6 cell align-right">
          <h2>Quality Team & Work Wear</h2>
          <h1>Maximus Apparel</h1>
          <p class="subheader">We are a locally owned and operated company that provides high quality team and business wear solutions to provide high quality team wear and business wear around the country. </p>
          <a href="#" class="round button">view the range</a>
        </div>
      </div>
    </div>
  </div>
</header>